<!DOCTYPE html>
<html>
  <head>
    <title>Au revoir et a bientot !</title>
  </head>
  <body>
    <h1>A tres vite {{ name }} !</h1>

    <p>
      Ceci est un texte lambda histoire de faire un peu de remplisssage
    </p>
  </body>
</html>